.inquiryform{
    display: flex;
    flex-direction: column;
    font-size: 24px;
    flex:1;
    padding: 20px;
    justify-content: center;
    gap: 10px;
}

.inquiryform input{
    height: 35px;
    padding: 5px;
    border: none;
    box-shadow: 0 5px 10px lightgray;
    border-radius: 5px;
}

.inquiryform textarea{
    border: none;
    border-radius: 8px;
    height: 100px;
    padding: 10px;
    box-shadow: 0 5px 10px lightgray;
}
.inquiries{
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-width: 300px;
}

.inquiries p{
    font-size: clamp(2rem,120px,5vw);
}

.work{
    color:orange;
}

.inquiries button{
    padding:10px;
    border: none;
    border-radius: 50vw;
    box-shadow: 0 5px 10px lightgray;
    transition: 0.2s ease;
    background: linear-gradient(135deg, #f5f5f5, #e6e6e6)
}

.inquiries button:hover{
    transform: translateY(-5px);
    background: linear-gradient(135deg, #ffcc66, #ff9900)
}