.placeholder{
    object-fit: cover;
    /* border-radius: 8px; */
    width: 100%;
    height: auto;
}

.cardcontainer
{
    display: flex;
    flex-direction: column;
    /* border: 1px solid; */
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    gap: 0;
}

.cardcontainer:has(.card:hover) .projectdetailscontainer{
    transform:translateY(0px);
    opacity: 1;
}

.card{
    
    border-radius: 2px;
    /* padding: 20px; */
    box-shadow: 0 5px 10px hsla(0, 0%, 58%, 0.56);
    transition: 0.5s ease;
    min-width: 300px;
    
}

.card:hover{
    box-shadow: 0 0 25px 1px lightgray;
    /* transform: scale(1.05) perspective(500px) rotateY(10deg) rotateZ(5deg); */
}

.card h1{
    width: 200px;
    text-wrap: wrap;
}
.card p{
    width: 200px;
    text-wrap: wrap;
}

.projectdetailscontainer{
    opacity: 0;
    /* padding:0 25px; */
    transform:translateY(-80px);
    /* border: 1px solid; */
    transition: 0.5s ease-in-out;
    margin: 0;
    z-index: -1;
    background:	#FAF9F6;
    backdrop-filter: blur(10px);
}






