*{
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}




.projectsection{
    margin: 100px 0;
    width: 100%;
    min-width: 300px;
}

.projectcontainer

{
    display: flex;
    gap: 80px;  
    flex-wrap: wrap;
    padding: 26px;
    justify-content: center;
    margin: 10px;
} 

    

.viewprojectsbtn{
    margin: auto;
    text-align: end;
    padding: 0 15px;
    margin: 0px;
}

.btn{
    padding: 15px;
    border-radius: 25px;
    border: none;
    box-shadow: 0 5px 10px lightgray;
    transition: 0.2s ease;
    background: linear-gradient(135deg, #f5f5f5, #e6e6e6)
}

.btn:hover{
    transform: translateY(-5px);
    background: linear-gradient(135deg, #ffcc66, #ff9900)
}

hr{
    border: none;
    width: 90vw;
    min-width: 300px;
    margin:auto;
    height: 2px;
    background: linear-gradient(to right, white ,orange, white );
}

.NavBar{
     display: flex;
    border-radius: 3px;
    position:relative;
    border: 3px solid transparent;
    justify-content: start;
    flex-wrap: wrap;
    z-index: 100;
    position:fixed;

}